:root {
  height: 100vh;
  background-color: rgb(157, 86, 201);
}

html, body, #root {
  height: 100vh;
  margin: 0px;
}

h1 {
  margin-top: 50px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 3rem;
  color: white;
}

form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0 10px;
}

h3 {
  font-family: 'Poppins';
  color: #ffffff;
  margin: 1rem 0 1rem 0;
}

label {
  margin-left: 1rem;
  margin-right: auto;
  font-family: "Poppins";
  color: #fff;
}

input[type='checkbox'] {
  margin: 0 0 0 1rem;
  -webkit-appearance: none;
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 1.3em;
  height: 1.3em;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1.3em 1.3em rebeccapurple;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.edit {
  width: 85%;
}

.todo-item {
  margin: 0.7rem 0 0.7rem 0;
  padding: 1rem 0 1rem 0;
  border-radius: 5px;
  background-color: rgb(157, 86, 201);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
}

.icon + .icon {
  margin-left: 1.5rem;
}

.icons {
  margin-top: 0.1rem;
  margin-left: auto;
  margin-right: 1rem;
}

.edit-task {
  background: rgb(156, 129, 189);
  border: none;
  outline: none;
  color: #ffffff;
  vertical-align: middle;
  font-size: 16px;
  line-height: 2;
  padding: 10px 20px;
  width: 70%;
}

.extended {
  margin: 0;
  vertical-align: middle;
  font-size: 16px;
  font-family: "Poppins";
  background-color: rgb(146, 0, 219);
  line-height: 2;
  font-weight: 500;
  color: #fff;
  padding: 10px 20px;
  outline: none;
  width: 30%;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#app-box {
  width: 1000px;
  min-height: 300px;
  border-radius: 5px;
  background-color: rgb(42, 0, 94);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 50px 100px;
}

#items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%; 
  padding: 0 0 5rem 0;
}

#ftask {
  background: rgb(42, 0, 94);
  border-style: solid;
  border-color: rgb(139, 73, 174);
  border-width: 1.5px;
  color: #ffffff;
  vertical-align: middle;
  font-size: 16px;
  line-height: 2;
  padding: 10px 20px;
  width: 70%;
  margin: 0;
  outline: none;
  box-shadow: inset 0 -1px 1px -1px;

}

#todo-btn {
  margin: 0;
  vertical-align: middle;
  font-size: 16px;
  font-family: "Poppins";
  background-color: rgb(146, 0, 219);
  line-height: 2;
  font-weight: 500;
  color: #fff;
  padding: 10px 20px;
  border: 1.5px;
  border-style: solid;
  border-color: rgb(147, 0, 219);
  outline: none;
  box-shadow: inset 0 -1px 1px -1px;
  width: 20%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#todo-box {
  width: 100%;
  
}

#context {
  width: 90%;
}

